// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
.ion-page {
    background-color: white;
--ion-toolbar-background: #F27405;
--ion-toolbar-color: #ffffff;

}
// Cor da toolbar
